[submodule "Bingo"]
	path = Bingo
	url = https://github.com/amigcamel/Bingo
[submodule "crawler101"]
	path = slides/crawler101
	url = https://github.com/amigcamel/reveal.js
        branch = crawler101
[submodule "pycon2017"]
	path = slides/pycon2017
	url = https://github.com/amigcamel/reveal.js
        branch = pycon2017
[submodule "mezzanine"]
	path = slides/mezzanine
	url = https://github.com/amigcamel/reveal.js
        branch = mezzanine
[submodule "crawler101-keypo"]
	path = slides/crawler101-keypo
	url = https://github.com/amigcamel/reveal.js
        branch = crawler101-keypo
